@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@1,600&display=swap");
#header {
  background-image: url("../images/bg-hero-mobile.svg");
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.footer-nav-item {
  grid-template-columns: auto 1fr;
  place-items: start;
}

@media (min-width: 640px) {
  #header {
    background-image: url("../images/bg-hero-desktop.svg");
  }
}
@media (min-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr 1.4fr;
  }
  .footer-nav {
    grid-template-columns: 220px max-content max-content auto;
    justify-content:space-between;
  }
}
/* font-family: 'Open Sans', sans-serif; */
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
